.header {
  color: white;
  /* width: 100%; */
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}
.header > img {
  object-fit: contain;
  height: 80px;
  padding-right: 15px;
}
.header__icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}
.header__icon > p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: small;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.header__icon:hover > p {
  display: inline-flex;
}
.header__icon > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon--active > p {
  display: inline-flex !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
